<!-- Page Content -->
<div class="container">

    <div class="row">
      <form id="filter">
        <div class="col-md-3">
            <p class="lead">Online Mobile Sales & Services</p>
            <span><%= get_delars_message() %></span>
            <br/>
            <br/>
          <h4>Delars City</h4>
          <div class="list-group">
            <% Delar.all.map(&:city).uniq.each do |city| %>
                <li class="list-group-item">
                  <input type="checkbox" name="delar_city[]" value="<%= city %>"> <span><%= city %></span>
                </li>
            <% end %>
          </div>
            <h4>BRAND</h4>
            <div class="list-group">
              <% @mobiles.map(&:brand_name).uniq.each do |brand_name| %>
                  <li class="list-group-item">
                    <input type="checkbox" name="mobile[brand_name][]" value="<%= brand_name %>"> <span><%= brand_name %></span>
                  </li>
              <% end %>
            </div>

          <h4>MOBILE TYPE</h4>
          <div class="list-group">
            <% @mobiles.map(&:mobile_type).uniq.each do |mobile_type| %>
                <li class="list-group-item">
                  <input type="checkbox" name="mobile[mobile_type][]" value="<%= mobile_type %>"> <span><%= mobile_type %></span>
                </li>
            <% end %>
          </div>

          <h4>BATTERY CAPACITY</h4>
          <div class="list-group">
            <% @mobiles.map(&:battery_capacity).uniq.each do |battery_capacity| %>
                <li class="list-group-item">
                  <input type="checkbox" name="mobile[battery_capacity][]" value="<%= battery_capacity %>"> <span><%= battery_capacity %></span>
                </li>
            <% end %>
          </div>

          <h4>SCREEN SIZE</h4>
          <div class="list-group">
            <% @mobiles.map(&:screen_size).uniq.each do |screen_size| %>
                <li class="list-group-item">
                  <input type="checkbox" name="mobile[screen_size][]" value="<%= screen_size %>"> <span><%= screen_size %></span>
                </li>
            <% end %>
          </div>

          <h4>RAM</h4>
          <div class="list-group">
            <% @mobiles.map(&:ram).uniq.each do |ram| %>
                <li class="list-group-item">
                  <input type="checkbox" name="mobile[ram][]" value="<%= ram %>"> <span><%= ram %></span>
                </li>
            <% end %>
          </div>

          <h4>SIM TYPE</h4>
          <div class="list-group">
            <% @mobiles.map(&:sim_type).uniq.each do |sim_type| %>
                <li class="list-group-item">
                  <input type="checkbox" name="mobile[sim_type][]" value="<%= sim_type %>"> <span><%= sim_type %></span>
                </li>
            <% end %>
          </div>

          <h4>PRIMARY CAMERA</h4>
          <div class="list-group">
            <% @mobiles.map(&:primary_camera).uniq.each do |primary_camera| %>
                <li class="list-group-item">
                  <input type="checkbox" name="mobile[primary_camera][]" value="<%= primary_camera %>"> <span><%= primary_camera %></span>
                </li>
            <% end %>
          </div>

          <h4>OS VERSION NAME</h4>
          <div class="list-group">
            <% @mobiles.map(&:os_version_name).uniq.each do |os_version_name| %>
                <li class="list-group-item">
                  <input type="checkbox" name="mobile[os_version_name][]" value="<%= os_version_name %>"> <span><%= os_version_name %></span>
                </li>
            <% end %>
          </div>

          <h4>SECONDARY CAMERA</h4>
          <div class="list-group">
            <% @mobiles.map(&:secondary_camera).uniq.each do |secondary_camera| %>
                <li class="list-group-item">
                  <input type="checkbox" name="mobile[secondary_camera][]" value="<%= secondary_camera %>"> <span><%= secondary_camera %></span>
                </li>
            <% end %>
          </div>

          <h4>FEATURES</h4>
          <div class="list-group">
            <% @mobiles.map(&:features).uniq.each do |features| %>
                <li class="list-group-item">
                  <input type="checkbox" name="mobile[features][]" value="<%= features %>"> <span><%= features %></span>
                </li>
            <% end %>
          </div>

          <h4>NUMBER OF CORES</h4>
          <div class="list-group">
            <% @mobiles.map(&:number_of_cores).uniq.each do |number_of_cores| %>
                <li class="list-group-item">
                  <input type="checkbox" name="mobile[number_of_cores][]" value="<%= number_of_cores %>"> <span><%= number_of_cores %></span>
                </li>
            <% end %>
          </div>
        </div>
      </form>
        <div class="col-md-9">

            <div class="row carousel-holder">

                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                          <% @mobiles.sample(3).each_with_index do |mobile, i|%>
                            <div class="item <%= 'active' if i == 0 %>">
                              <%= link_to image_tag(mobile.image.url(:medium)), view_mobile_path(mobile.id, mobile.mobile_name) %>
                            </div>
                          <% end %>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>

            </div>

            <div class="row" id="thumb-mobile">
              <% @mobiles.each do |mobile| %>
                <%= render :partial => 'thumb_mobile', :locals => {:mobile => mobile}%>
              <% end %>

            </div>

        </div>

    </div>

</div>
<!-- /.container -->

<div class="container">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

<script type="text/javascript">
  $('form input').on('change', function(){
      var data = $('form').serialize();
      $.ajax({
          url: '/',
          data: data,
          processData: false,
          type: 'GET',
          success: function ( data ) {
              console.log(data);
              $('#thumb-mobile').html(data);
          }
      });
  });
</script>